# you need to set env vars in system, editing this file wont do anything
# its just a reference, a quick command for setting env vars in linux i use is
#       export $(cat <my_env_file_name.env> | xargs )
# you can generate string session from many online sites/scripts
# or use the given gen_session_string.py locally

# STRICTLY NEEDED VARS

# Get them from https://my.telegram.org/
API_ID=""
API_HASH=""


# Mongodb url from https://cloud.mongodb.com/
# guide: https://del.dog/mongodb_guide
DATABASE_URL=""

SESSION_STRING=""
